---
const { links } = Astro.props
const { origin } = Astro.url
---

<table>
  <thead>
    <tr>
      <th>URL</th>
      <th>mini URL</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    {
      links.map(link => (
        <tr>
          <td>
            <a href={link.url} target="_blank" rel="noopener noreferrer">{link.url}</a>
          </td>
          <td>
            <a href={`/l/${link.code}`} target="_blank" rel="noopener noreferrer">{origin}/l/{link.code}</a>
          </td>
          <td>
            <button id="copy" data-code={link.code}>Copiar</button>
            <a href={`/q/${link.code}`} target="_blank" rel="noopener noreferrer">QR</a>
          </td>
        </tr>
      ))
    }
  </tbody>
</table>

<script>
  const copy = document.querySelector("#copy")
  copy.addEventListener("click", ({ target }) => {
    const code = target.dataset.code
    const link = `${origin}/l/${code}`
    navigator.clipboard.writeText(link)
    target.textContent = "Copiado!"
    setTimeout(() => (target.textContent = "Copiar"), 2000)
  })
</script>

<style>
  table {
		margin-top: 1rem;
		width: 100%;
		border-collapse: collapse;
	}

	th, td {
		border: 1px solid #2b3137;
		padding: .5rem;
		text-align: center;
	}

	th {
		background-color: #2b3137;
		color: white;
	}

  td {
    font-size: 1.1rem;
  }

	td a {
		text-decoration: none;
		color: inherit;
	}

	td a:hover, button:hover, td:last-child a:hover {
		text-decoration: underline;
		color: #4078c0;
	}

  button, td:last-child a {
		border: none;
		background-color: #2b3137;
		color: white;
		padding: .7rem 1rem;
		border-radius: .5rem;
		font-size: 1.1rem;
		font-weight: bold;
		cursor: pointer;
		outline: none;
		text-decoration: none;
		line-height: normal;
	}
</style>